bottle==0.12.5
gevent==1.0.1
gnureadline==6.3.3
greenlet==0.4.5
gunicorn==18.0
httplib2==0.8
ipython==2.3.1
mongoengine==0.8.7
numpy==1.9.1
oauth2==1.5.211
oauthlib==0.7.2
pandas==0.15.2
pymongo==2.6.3
python-dateutil==1.5
python-twitter==2.0
pytz==2014.10
requests==2.5.0
requests-oauthlib==0.4.2
simplejson==3.3.3
wsgiref==0.1.2
