tr.on
{
background-color:#00FF99;
}

tr.off
{
background-color:#C0C0C0;
}

tr.broken
{
background-color:#FF4A4A;
}

tr.inspection
{
background-color:#FFCC33;
}

tr.rehab
{
background-color:#00BFFF;
}

tr
{
font-family: Arial, Verdana;
}

table.status
{
border:thin solid black;
}

table.escalator_data
{
margin:1cm;
}

table.escalator_summary
{
margin:1cm;
}

tr,th,td
{
border:1px solid black;
}

td
{
padding:2px;
}

