body{
margin:0;
padding:0;
background-color:#D0D0D0;
font-family: Arial, Verdana;
}

#maincontainer
{
font-family: Arial, Verdana;
width:920px;
margin:0 auto;
background-color:black;
}

#header
{
    font-family: Monaco, Consolas, "Lucida Console", monospace;
    font-size:72px;
    text-shadow: 4px 2px 2px #000000;
    color:DodgerBlue;
    color:RoyalBlue;
    color:DeepSkyBlue;
    color:white;
    background-color:#002157;
    height:100px;
    padding-top:10px;
    padding-bottom:10px;
    width:100%;
    text-align:center;
    background-image:url("/static/wmata_ceiling_banner_blue.jpg");
    background-repeat:no-repeat;
    background-size:920px;
    position:relative;
}

div.headeroverlay {
    opacity: .9;
    background-color: black;
    position: absolute;
    left: 0; top: 0;
    height:100px;
    width:900px;
}

#contentwrapper
{
float:right
font-size:12px;
width:730px;
margin-left:170px;
background-color:#FBFCE6;
padding:10px;
}

#leftcolumn
{
font-family:"Courier New", Monospace;
float:left;
width:150px;
padding:10px;
background-color:black;
color:white;
}

#leftcolumn a:link, #leftcolumn a:visited
{
    color:white;
    text-decoration:none;
}

.nav_level1
{
    font-size:20px;
}

.nav_level2
{
    margin-left:15px;
    font-size:16px;
}

#footer
{
    clear:both;
    width:100%;
    font-family:"Courier New", Monospace;
    background-color:#D0D0D0;
    color:black;
    text-align:center;
    padding: 4px 0;
}

#updateTime
{
    float:right;
    clear:both;
    padding=5px;
    color:black
    font-size:small;
    text-align:right;
}


tr.on
{
background-color:#00FF99;
}

tr.off
{
background-color:#C0C0C0;
}

tr.broken
{
background-color:#FF4A4A;
}

tr.inspection
{
background-color:#FFCC33;
}

tr.rehab
{
background-color:#00BFFF;
}

table
{
border:thin solid black;
font-size:16px;
}

table.status
{
border:thin solid black;
width:700px
}

.status a:link, .status a:visited
{
    color:black;
}

table.escalator_data
{
border:none;
margin:1cm;
}

table.symptoms
{
border: thin solid black;
}

table.escalator_summary
{
border:none;
margin:1cm;
}

table.station_listing
{
border:thin solid black;
width:700px;
}

tr,th,td
{
border:1px solid black;
}

td
{
padding:2px;
}




#redsquare
{
    width:14px;
    height:14px;
    background-color:red;
    border:1px solid black;
    float:left;
    margin:1px;
}
#bluesquare
{
    width:14px;
    height:14px;
    background-color:blue;
    border:1px solid black;
    float:left;
    margin:1px;
}
#yellowsquare
{
    width:14px;
    height:14px;
    background-color:yellow;
    border:1px solid black;
    float:left;
    margin:1px;
}
#orangesquare
{
    width:14px;
    height:14px;
    background-color:orange;
    border:1px solid black;
    float:left;
    margin:1px;
}
#greensquare
{
    width:14px;
    height:14px;
    background-color:green;
    border:1px solid black;
    float:left;
    margin:1px;
}
