<!doctype html>
<html class="no-js" ng-app="dcmetrometricsApp" ng-controller='HeadCtrl'>
  <head>
    <meta charset="utf-8">
<!--     <base href="/"> -->

    <title ng-bind-template="{{ Page.title() }}">DC Metro Metrics</title>
    <meta name="description" content="{{ Page.description() }}">

    <meta name="viewport" content="width=device-width">

    <!-- This is to help Google's crawler handle AngularJS dynamic pages. -->
    <meta name="fragment" content="!">

    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) /styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="/bower_components/ng-table/ng-table.css" />
    <link rel="stylesheet" href="/bower_components/bootswatch-dist/css/bootstrap.css" />
    <link rel="stylesheet" href="/bower_components/cal-heatmap/cal-heatmap.css" />
    <link rel="stylesheet" href="/bower_components/angular-loading-bar/build/loading-bar.css" />
    <link rel="stylesheet" href="/bower_components/angular-motion/dist/angular-motion.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) /styles/main.css -->
    <link rel="stylesheet" href="/styles/animate.css">
    <link rel="stylesheet" href="/styles/from_angular_strap.css">
    <link rel="stylesheet" href="/styles/main.css">
    <link rel="stylesheet" href="/styles/table.css">

<!--     Src: http://codepo8.github.io/css-fork-on-github-ribbon/ -->
    <link rel="stylesheet" href="/styles/github_fork.css">
    <!-- endbuild -->

    <style type="text/css">
      @import url("//fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,400,300,700");
    </style>



  </head>

  <body>

    <span id="forkongithub">
      <a href="https://github.com/LeeMendelowitz/DCMetroMetrics" target="_blank">Fork me on GitHub</a>
    </span>
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <nav class="navbar navbar-default navbar-fixed-top dcmm-navbar" role="navigation" ng-controller = "NavCtrl">
        <div class="container">

            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" ng-click="toggleNav()">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" ui-sref="home" ng-click="collapseNav()">DC Metro Metrics</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id = "navbar-collapse" collapse="navbarCollapsed">
              <ul class="nav navbar-nav">
                <li ui-sref-active="active"><a ui-sref="outages" ng-click="collapseNav()">Outages</a></li>
                <li ui-sref-active="active"><a ui-sref="dailyservicereport" ng-click="collapseNav()">Daily Reports</a></li>
                <li ui-sref-active="active"><a ui-sref="rankings" ng-click="collapseNav()">Rankings</a></li>
                <li ui-sref-active="active"><a ui-sref="stations.list" ng-click="collapseNav()">Stations</a></li>
                <li ui-sref-active="active"><a ui-sref="hotcars.main" ng-click="collapseNav()">HotCars</a></li>
                <li ui-sref-active="active"><a ui-sref="press" ng-click="collapseNav()">Press</a></li>
                <li ui-sref-active="active"><a ui-sref="data" ng-click="collapseNav()">Data</a></li>
                <li ui-sref-active="active"><a ui-sref="about" ng-click="collapseNav()">About</a></li>
              </ul>
            </div><!-- /.navbar-collapse -->
          </div><!-- /.container-fluid -->
      </nav>



      
    <div ui-view>
      
    </div>


    <div class="container">
      <div class="footer">
        <p>&copy; Lee M. Mendelowitz 2015</p>
      </div>
    </div>

    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-42172563-1', 'auto');
      ga('send', 'pageview');
    </script>


      <!-- TWITTER WIDGETS.js -->
      <script>
        window.twttr = (function (d, s, id) {
          var t, js, fjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) return;
          js = d.createElement(s); js.id = id;
          js.src= "https://platform.twitter.com/widgets.js";
          //js.src= "widgets.js";
          fjs.parentNode.insertBefore(js, fjs);
          return window.twttr || (t = { _e: [], ready: function (f) { t._e.push(f) } });
        }(document, "script", "twitter-wjs"));
        
        // twttr.ready(function (twttr) {

        //     // bind events here
        //     twttr.events.bind('loaded', function (event) {
        //       event.widgets.forEach(function (widget) {
        //         console.log("Created widget", widget.id);
        //       });
        //     });

        //     twttr.events.bind('rendered', function (event) {
        //       console.log("Created widget", event.target.id);
        //     });

        // });
      </script>

    <!-- build:js(.) scripts/oldieshim.js -->
    <!--[if lt IE 9]>
    <script src="bower_components/es5-shim/es5-shim.js"></script>
    <script src="bower_components/json3/lib/json3.min.js"></script>
    <![endif]-->
    <!-- endbuild -->

    <!-- build:js(.) /scripts/vendor.js -->
    <!-- bower:js -->
    <script src="/bower_components/jquery/dist/jquery.js"></script>
    <script src="/bower_components/angular/angular.js"></script>
    <script src="/bower_components/json3/lib/json3.js"></script>
    <script src="/bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="/bower_components/angular-resource/angular-resource.js"></script>
    <script src="/bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="/bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="/bower_components/angular-animate/angular-animate.js"></script>
    <script src="/bower_components/angular-touch/angular-touch.js"></script>
    <script src="/bower_components/angular-route/angular-route.js"></script>
    <script src="/bower_components/angular-strap/dist/angular-strap.js"></script>
    <script src="/bower_components/angular-strap/dist/angular-strap.tpl.js"></script>
    <script src="/bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="/bower_components/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="/bower_components/ng-table/ng-table.js"></script>
    <script src="/bower_components/spin.js/spin.js"></script>
    <script src="/bower_components/angular-spinner/angular-spinner.js"></script>
    <script src="/bower_components/angular-ui-utils/ui-utils.js"></script>
    <script src="/bower_components/bootswatch-dist/js/bootstrap.js"></script>
    <script src="/bower_components/d3/d3.js"></script>
    <script src="/bower_components/cal-heatmap/cal-heatmap.js"></script>
    <script src="/bower_components/moment/moment.js"></script>
    <script src="/bower_components/moment-timezone/builds/moment-timezone-with-data-2010-2020.js"></script>
    <script src="/bower_components/angular-loading-bar/build/loading-bar.js"></script>
    <script src="/bower_components/angular-tablesort/js/angular-tablesort.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

        <!-- build:js({.tmp,app}) /scripts/scripts.js -->
        <script src="/scripts/app.js"></script>
        <script src="/scripts/controllers/main.js"></script>
        <script src="/scripts/controllers/about.js"></script>
        <script src="/scripts/services/directory.js"></script>
        <script src="/scripts/controllers/stationdirectory.js"></script>
        <script src="/scripts/controllers/station.js"></script>
        <script src="/scripts/services/unitservice.js"></script>
        <script src="/scripts/controllers/unitpage.js"></script>
        <script src="/scripts/services/statustableutils.js"></script>
        <script src="/scripts/filters/duration.js"></script>
        <script src="/scripts/directives/linecolors.js"></script>
        <script src="/scripts/filters/unitidtohuman.js"></script>
        <script src="/scripts/controllers/outages.js"></script>
        <script src="/scripts/controllers/unitstatusutils.js"></script>
        <script src="/scripts/controllers/statusentry.js"></script>
        <script src="/scripts/controllers/unitentry.js"></script>
        <script src="/scripts/filters/capfirst.js"></script>
        <script src="/scripts/services/hotcardirectory.js"></script>
        <script src="/scripts/controllers/hotcardirectory.js"></script>
        <script src="/scripts/controllers/hotcarpage.js"></script>
        <script src="/scripts/directives/tweetline.js"></script>
        <script src="/scripts/controllers/nav.js"></script>
        <script src="/scripts/directives/affix.js"></script>
        <script src="/scripts/directives/scrolltobookmark.js"></script>
        <script src="/scripts/directives/scrolltarget.js"></script>
        <script src="/scripts/directives/scrolltargetcollector.js"></script>
        <script src="/scripts/filters/percentage.js"></script>
        <script src="/scripts/controllers/unitperformanceaccordian.js"></script>
        <script src="/scripts/controllers/rankings.js"></script>
        <script src="/scripts/rankingsSearchString.js"></script>
        <script src="/scripts/services/queryparser.js"></script>
        <script src="/scripts/directives/hotcarstempcountplot.js"></script>
        <script src="/scripts/directives/unit_calendar_heatmap.js"></script>
        <script src="/scripts/services/unitstatus.js"></script>
        <script src="/scripts/services/unit.js"></script>
        <script src="/scripts/controllers/sitemap.js"></script>
        <script src="/scripts/services/stationdata.js"></script>
        <script src="/scripts/controllers/head.js"></script>
        <script src="/scripts/services/page.js"></script>
        <script src="/scripts/controllers/dailyservicereport.js"></script>
        <script src="/scripts/controllers/press.js"></script>
        <script src="/scripts/controllers/mainjumbotron.js"></script>
        <script src="/scripts/controllers/datapage.js"></script>
        <script src="/scripts/directives/dailyservicereportunitstatustable.js"></script>
        <!-- endbuild -->

        


</body>
</html>
