/* Adapted from: http://codepo8.github.io/css-fork-on-github-ribbon/ */

#forkongithub a {
    background:#333333;
    color:#fff;
    text-decoration:none;
    font-family:arial,sans-serif;
    text-align:center;
    font-weight:700;
    padding:5px 40px;
    font-size:1.5rem;
    line-height:2rem;
    box-sizing: content-box;
    position:relative;
    transition:.5s;
    display: none;
}

#forkongithub a:hover {
    background:#00539e;
    color:#fff
}

#forkongithub a::before,#forkongithub a::after {
    content:"";
    width:100%;
    display:block;
    position:absolute;
    top:1px;
    left:0;
    height:1px;
    background:#fff
}

#forkongithub a::after {
    bottom:1px;
    top:auto
}

@media screen and (min-width:768px) {
    #forkongithub {
        position:fixed;
        display:block;
        top:0;
        right:0;
        width:200px;
        overflow:hidden;
        height:200px;
        z-index:9999
    }

    #forkongithub a {
        width:200px;
        position:absolute;
        top:60px;
        right:-60px;
        transform:rotate(45deg);
        -webkit-transform:rotate(45deg);
        -ms-transform:rotate(45deg);
        -moz-transform:rotate(45deg);
        -o-transform:rotate(45deg);
        box-shadow:4px 4px 10px rgba(0,0,0,0.8);
        display: block;
    }
}