/* Space out content a bit */
body {
  padding-top: 45px;
  padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

/* Customize container */
@media (min-width: 768px) {
/*  .container {
    max-width: 730px;
  }*/
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}


/* CSS for Line Color Circles */
.circle {
  border-radius: 50%;
  border: 1px solid #7e7e7e;
  width: 1em;
  height: 1em;
  margin: 0em 0.25em;
  display: inline-block;
}

.circle.GR {
  background-color: #339A60;
}

.circle.RD {
  background-color: #db4949;
}

.circle.OR {
  background-color: #db8949;
}

.circle.YL {
  background-color: #f1ff0f;
}

.circle.BL {
  background-color: #0261e1;
}

.circle.SV {
  background-color: #b8b9ba;
}

/* Extra padding for buttons on home page */
.home .btn {
  margin: 5px;
}

.dcmm-navbar {
  margin-bottom: 0;
}

.dcmm-tweets.ng-hide-remove {
    -webkit-animation: fadeIn 1.0s;
    animation: fadeIn 1.0s;
}

.dcmm-fadeIn.ng-hide-remove {
    -webkit-animation: fadeIn 1.0s;
    animation: fadeIn 1.0s;
}

.dcmm-tweetline {
  position: relative;
  min-height: 300px;
}

.dcmm-tweet-wrapper {
  /* background-color: gray;*/
}
/*
#dcmm-hotcarnav.ui-scrollfix {
  position: fixed;
  top: 70px;
}
*/

.dcmm-sidenav.affix {
  top: 70px;
  box-sizing: border-box;
}

@media (min-width: 992px) {
  .dcmm-sidenav.affix {
    width: 132px;
  }
}

@media (min-width: 1200px) {
  .dcmm-hotcarnav.affix {
    width: 165px;
  }
}

.dcmm-page-header {
  color: white;
  text-shadow: 0 1px 0 rgba(0, 0, 0, .1);
  text-align: left;
  background-color: #004050;
  background-image: -webkit-linear-gradient(top, #004050, #195361); /* For Chrome 25 and Safari 6, iOS 6.1, Android 4.3 */
  background-image:    -moz-linear-gradient(top, #004050, #195361); /* For Firefox (3.6 to 15) */
  background-image:      -o-linear-gradient(top, #004050, ##195361); /* For old Opera (11.1 to 12.0) */ 
  background-image: linear-gradient(to bottom, #004050 0, #195361 100%); /* Standard syntax; must be last */
  background-repeat: repeat-x;
}

.dcmm-page-header a {
  color: #72b7c7;
  text-decoration: none;
}

.dcmm-page-header a.btn {
  color: inherit;
  text-decoration: none;
}

.dcmm-page-header a:hover {
  color: black;
  text-decoration: none;
}


/* Styles for adding icons inside input. 
Src: http://jsfiddle.net/KyleMit/cyCFS/;
*/
.left-inner-addon {
    position: relative;
}
.left-inner-addon input {
    padding-left: 30px;    
}
.left-inner-addon i, .left-inner-addon span  {
    position: absolute;
    padding: 10px 12px;
    pointer-events: none;
}

.right-inner-addon {
    position: relative;
}
.right-inner-addon input {
    padding-right: 30px;    
}
.right-inner-addon i, .right-inner-addon span  {
    position: absolute;
    right: 0px;
    padding: 18px 12px;
    pointer-events: none;
}
.right-inner-addon i.input-sm-addon, .right-inner-addon span.input-sm-addon  {
    padding: 11px 12px;
}

.dcmm-close {
  position: absolute;
  right: 10px;
  top: 10px;
  opacity: 0.4;
  text-decoration: none;
  font-size: 22.5px;
  font-weight: bold;
  line-height: 1;
  color: black;
}
.dcmm-close:hover,
.dcmm-close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
  opacity: 0.5;
  filter: alpha(opacity=50);
}




/* Styles for D3 Visualizations */
.axis text {
  font: 14px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

.area {
    fill: lightsteelblue;
    stroke-width: 0;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}

circle.countTracker {
  fill: steelblue;
  stroke: black;
}

.area.temperature {
  fill: #debebe;
  fill-opacity: 0.6;
  stroke-width: 0;
}

.line.temperature {
  fill: none;
  stroke: #AE5E5E;
  stroke-width: 1.5px;
}

circle.tempTracker {
  fill: #8c1919;
  stroke: black;
}


circle.scatter {
  fill-opacity: .7;
}

circle.scatter.focused {
/*  fill: black !important;*/
  fill-opacity: 1;
  stroke: black;
  stroke-width: 1;
}

circle.scatter.scatter-hidden {
  fill: #ccc !important;
}

.brush .extent {
  stroke: #fff;
  fill-opacity: .125;
  shape-rendering: crispEdges;
}

.legend-frame {
  fill: none;
  stroke: #aaa;
  stroke-width: 1px;
  shape-rendering: crispEdges;
}

div.hotcars-tooltip {   
  position: absolute;           
  text-align: left;        
  width: auto;                  
  height: auto;          
  font: 12px sans-serif;        
  background: #212628;
  background: white;
  opacity: 0.8;
  color: black;
  border: 0px;      
/*  border-radius: 8px;  */         
  pointer-events: none;         
}

.hotcars-tooltip table.table {
  margin-bottom: 0px;
}