/* Space out content a bit */
body {
  padding-top: 60px;
  padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

/* Customize container */
@media (min-width: 768px) {
/*  .container {
    max-width: 730px;
  }*/
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}


/* CSS for Line Color Circles */
.circle {
  border-radius: 50%;
  border: 1px solid #7e7e7e;
  width: 1em;
  height: 1em;
  margin: 0em 0.25em;
  display: inline-block;
}

.circle.GR {
  background-color: #339A60;
}

.circle.RD {
  background-color: #db4949;
}

.circle.OR {
  background-color: #db8949;
}

.circle.YL {
  background-color: #f1ff0f;
}

.circle.BL {
  background-color: #0261e1;
}

.circle.SV {
  background-color: #b8b9ba;
}

/* Extra padding for buttons on home page */
.home .btn {
  margin: 5px;
}

.tweets.ng-hide-remove {
    -webkit-animation: fadeIn 1.0s;
    animation: fadeIn 1.0s;
}

.tweetline {
  position: relative;
  min-height: 300px;
}

.tweet-wrapper {
  /* background-color: gray;*/
}
