<div class="jumbotron dcmm-page-header">
  <div class="container">
    <h1>Daily Escalator/Elevator Service Report</h1>
  </div>
</div>

<div class="container">

  <div class="row">
      <div class="col-md-10 col-md-offset-2 col-xs-12"> 
        <h2>
        {{ day.format("dddd, MMMM D, YYYY") }}

                    <span>

                    <button type="button" class="btn btn-default" ng-click="toggle($event)" type="button"
                        datepicker-popup="{{format}}" ng-model="dt_picker"
                         is-open="opened" min-date="minDate" max-date="maxDate"
                         ng-required="true" close-text="Close" current-text="Most Recent"
                    >
                       <i class="glyphicon glyphicon-calendar"></i>
                    </button>

                  </span>

        </h2>

        <h3 ng-show="loadError">No Data Available</h3>

      </div>
  </div>



  <div class="row" >

    <div class="col-md-2 hidden-sm hidden-xs">

      <div id='report-sidenav' class="bs-sidebar" role="complementary" data-offset-top="-80" bs-affix bs-scrollspy-list="" ng-show="haveData">
        <ul class="nav bs-sidenav">
            <li>
              <a href="#report-summary">Summary</a>
            </li>
            <li>
              <a href="#report-symptom-counts">Symptoms</a>
            </li>            
            <li>
              <a href="#report-escalators">Escalators</a>
              <ul class="nav">
                <li><a href="#report-escalators-broken">Broken</a></li>
                <li><a href="#report-escalators-inspections">Inspections</a></li>
                <li><a href="#report-escalators-off">Off</a></li>
              </ul>
            <li>
              <a href="#report-elevators">Elevators</a>
              <ul class="nav">
                <li><a href="#report-elevators-broken">Broken</a></li>
                <li><a href="#report-elevators-inspections">Inspections</a></li>
                <li><a href="#report-elevators-off">Off</a></li>
              </ul>
            </li>
        </ul>
      </div>
    </div>

    <div class="col-xs-12 col-md-10" style="min-height: 300px; overflow: auto;">
      

      <span us-spinner spinner-key="daily-service-report" spinner-start-active="0"></span>

      <div ng-show="haveData">


        <section>
          <h2 id="report-summary">Summary</h2>
          <table class="table table-condensed table-striped table-bordered">
            <thead>
              <tr>
                <th></th>
                <th>Escalators</th>
                <th>Elevators</th>
              </tr>
            </thead>
              <tbody>
              <tr>
                <th>Num. Units</th>
                <td>{{report.escalators.num_units}}</td>
                <td>{{report.elevators.num_units}}</td>
              </tr>
              <tr>
                <th>Availability</th>
                <td>{{report.escalators.availability | percentage }}</td>
                <td>{{report.elevators.availability | percentage }}</td>
              </tr>
              <tr>
                <th>Broken Time Precentage</th>
                <td>{{report.escalators.broken_time_percentage | percentage }}</td>
                <td>{{report.elevators.broken_time_percentage | percentage }}</td>
              </tr>
              <tr>
                <th>Num. Breaks</th>
                <td>{{report.escalators.num_breaks}}</td>
                <td>{{report.elevators.num_breaks}}</td>
              </tr>
              <tr>
                <th>Num. Units with Break</th>
                <td>{{ escalators.num_units_broken }} ({{ escalators.num_units_broken/report.escalators.num_units | percentage}})</td>
                <td>{{ elevators.num_units_broken }} ({{ elevators.num_units_broken/report.elevators.num_units | percentage}})</td>
              </tr>
              <tr>
                <th>Num. Fixes</th>
                <td>{{report.escalators.num_fixes}}</td>
                <td>{{report.elevators.num_fixes}}</td>
              </tr>
              <tr>
                <th>Num. Inspections</th>
                <td>{{report.escalators.num_inspections}}</td>
                <td>{{report.elevators.num_inspections}}</td>
              </tr>
              <tr>
                <th>Num. Units Inspected</th>
                <td>{{ escalators.num_units_inspected }}  ({{ escalators.num_units_inspected/report.escalators.num_units | percentage}})</td>
                <td>{{ elevators.num_units_inspected }}  ({{ elevators.num_units_inspected/report.elevators.num_units | percentage}})</td>
              </tr>
            </tbody>
          </table>
        </section>
        <section>

        <section>

          <h2 id="report-symptom-counts">Symptom Counts</h2>

          <table class="table table-condensed table-striped table-bordered" ts-wrapper>
            <thead>
              <tr>
                <th ts-default ts-criteria="symptom">Symptom</th>
                <th ts-criteria="escalators">Escalators</th>
                <th ts-criteria="elevators">Elevators</th>
              </tr>
            </thead>
              <tbody>
              <tr ng-repeat="symptom_count in symptom_description_counts" ts-repeat>
                <th>{{symptom_count.symptom}}</th>
                <td>{{symptom_count.escalators || 0}}</td>
                <td>{{symptom_count.elevators || 0}}</td>
              </tr>
            </tbody>
            <tfoot>
              <tr>
                <th>Totals</th>
                <td>{{escalators.num_statuses}}</td>
                <td>{{elevators.num_statuses }}</td>
              </tr>
            </tfoot>
          </table>


        </section>

        <!-- STATUSES SECTION -->
        <section>

          <h2> Statuses </h2>

          <!-- ESCALATORS SECTION -->
          <section>
            <h3 id="report-escalators">Escalators</h3>

              <section>

                <h4 id="report-escalators-broken">Broken</h4>

                <p ng-show="no_escalator_broken">None</p>

                <dailyservicereportunitstatustable statuses="escalators.broken"
                ng-hide="no_escalator_broken"></dailyservicereportunitstatustable>

              </section>

              <section>

                <h4 id="report-escalators-inspections">Inspections</h4>

                <p ng-show="no_escalator_inspection">None</p>

                <dailyservicereportunitstatustable statuses="escalators.inspections"
                ng-hide="no_escalator_broken"></dailyservicereportunitstatustable>
 
              </section>

              <section>

                <h4 id="report-escalators-off">Off</h4>

                <p ng-show="no_escalator_off">None</p>

                <dailyservicereportunitstatustable statuses="escalators.off"
                ng-hide="no_escalator_broken"></dailyservicereportunitstatustable>

              </section>

          </section>

          <!-- ELEVATORS SECTION -->
          <section>

              <h3 id="report-elevators">Elevators</h3>

              <section>

                <h4 id="report-elevators-broken">Broken</h4>

                <p ng-show="no_elevator_broken">None</p>

                <dailyservicereportunitstatustable statuses="elevators.broken" ng-hide="no_escalator_broken">
                </dailyservicereportunitstatustable>

              </section>


              <section>

                <h4 id="report-elevators-inspections">Inspections</h4>

                  <p ng-show="no_elevator_inspection">None</p>

                <dailyservicereportunitstatustable statuses="elevators.inspections" ng-hide="no_escalator_broken">
                </dailyservicereportunitstatustable>

              </section>


              <section>

                <h4 id="report-elevators-off">Off</h4>

                <p ng-show="no_elevator_off">None</p>
                  
                <dailyservicereportunitstatustable statuses="elevators.inspections" ng-hide="no_escalator_broken">
                </dailyservicereportunitstatustable>

              </section>


          </section>

        </section>

      </div>  <!-- ng-hide div -->

    </div> <!-- end col-xs-12 -->
  </div>  <!-- end row -->

</div> <!-- /container -->