<div class="jumbotron dcmm-page-header">
  <div class="container">

    <h1>DC Metro Metrics</h1>

    <h3>Tracking escalator outages, elevator breakdowns, and 
      <a href="https://twitter.com/idiot3qu3/statuses/493882919341940736" target="_blank">#wmata</a> 
      <a href="https://twitter.com/be_rettDC/statuses/361835301057998848" target="_blank">#hotcar</a>'s since 2013.</h3>

  </div>

</div>

<div class="container" >

  <div class="row" ng-controller="MainJumbotronCtrl">

    <div class="col-sm-6" ng-controller="MainJumbotronCtrl">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">New Features!</h3>
        </div>
        <div class="panel-body">
          <ul>
            <li>
              <a ui-sref="dailyservicereport">Daily Escalator/Elevator Service Reports</a>
              <span class="label label-success">New!</span>
            </li>

            <li>
              <a ui-sref="hotcars.main.timeseries">HotCars Visualization</a>
              <span class="label label-success">New!</span>
            </li>

            <li>
              <a ui-sref="unit.calendar( {unitId: 'F06S03ESCALATOR'})">Unit Outage Calendars</a>
              <span class="label label-success">New!</span>
            </li>

            <li><a href="#dcmm-escalator-outage-calendar" ng-click="goToOutageCalendar()">System Outage Calendars (see below)</a>
            <span class="label label-success">New!</span>

            </li>

          </ul>
        </div>
      </div>  
    </div>

    <div class="col-sm-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Current Outages</h3>
        </div>
        <div class="panel-body">

          <div class="col-xs-12 col-md-6">
            <a ui-sref="outages.escalators" class="btn btn-primary btn-lg" role="button" style="margin: 2px;">{{ escalatorOutages.length}} Escalators</a>
          </div>

          <div class="col-xs-12 col-md-6">
            <a ui-sref="outages.elevators" class="btn btn-warning btn-lg" role="button" style="margin: 2px;">{{ elevatorOutages.length}} Elevators</a>
          </div>

        </div>
      </div>  
    </div>
  </div>



  <div class="row" id="dcmm-escalator-outage-calendar">

    <div class="col-xs-12" style="overflow: auto;">
      <unit-calendar-heatmap
        type='break'
        unitid='daily-outage-count-escalators'
        header="Daily Escalator Outages"
        description="Number of escalators with an unexpected outage on a given day."
        data="dailyBrokenCountHeatCal.escalators"
        legend="[50, 70, 80, 90, 100]"
        display-legend="true"
        legend-colors="{'min': '#fae157', 'max': '#cc3333'}"
        tooltip="true"
        consider-missing-data-as-zero="false"
        >
      </unit-calendar-heatmap>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12" style="overflow: auto;">
      <unit-calendar-heatmap
        type='break'
        unitid='daily-break-count-elevators'
        header="Daily Elevator Outages"
        description="Number of elevators with an unexpected outage on a given day."
        data="dailyBrokenCountHeatCal.elevators"
        legend="[5, 10, 15, 20, 25]"
        display-legend="true"
        legend-colors="{'min': '#fae157', 'max': '#cc3333'}"
        tooltip="true"
        consider-missing-data-as-zero="false"
      >
      </unit-calendar-heatmap>
    </div>
  </div>

  <!-- Table of recent outages -->
  <div class="row">
    <div class="col-xs-12" style="overflow: auto;">
      <h3>Recent Updates</h3>

      <table class="table table-bordered table-condensed table-striped">
        <thead>
          <tr>
            <th class="col-sm-2">Unit</th>
            <th class="col-sm-5">Description</th>
            <th class="col-sm-2">Status</th>
            <th class="col-sm-1">Type</th>
            <th class="col-sm-2">When</th>
          </tr>
        </thead>

        <tr ng-repeat="status in recentUpdates" ng-controller="StatusentryCtrl">
          <td>
            <a ui-sref="unit({unitId: unit.unit_id})">{{ status.unit_id | unitIdToHuman }}</a> 
          </td>

          <td>

            <a ui-sref="stations.detail({station: directory.getStationShortName(unit)})">
            {{ directory.getStationName(directory.unitFromStatus(status)) }}
            <lineColors lines="{{directory.getStationLinesForStatus(status).join()}}"></lineColors>
            </a>
            <br>
            {{ directory.unitDescription(unit) }}

          </td>
    <!--        <td><a ng-href="{{ getStationUrl( unitFromStatus(s) ) }}">
           {{ getStationName( unitFromStatus(s) ) }}
           </a></td> -->
    <!--       <td><pre>{{ getStationUrl( unitFromStatus(s) ) }}</pre></td> -->
          <td>{{ status.symptom_description | capFirst }}</td>
          <td>{{ status.update_type }}</td>
          <td>{{ statusTableUtils.getTimeSince(status) | duration }} ago</td>
        </tr>
      </table>
    </div>
  </div>

</div>