  <!--   <div class="jumbotron home">
   
    <h1>DC Metro Metrics</h1>

    <h3>Tracking escalator outages, elevator breakdowns, and 
    <a href="https://twitter.com/idiot3qu3/statuses/493882919341940736" target="_blank">#wmata</a> 
    <a href="https://twitter.com/be_rettDC/statuses/361835301057998848" target="_blank">#hotcar</a>'s since 2013.</h3>

    <br><br>

    <a href="#/outages/escalator" class="btn btn-primary btn-lg" role="button">{{ escalatorOutages.length}} Escalator Outages</a>

    <a href="#/outages/elevator" class="btn btn-warning btn-lg" role="button">{{ elevatorOutages.length}} Elevator Outages</a>
    
    <br><br><br><br>

    <p class="bg-info text-left">This site is being actively updated. We hope to have the escalator and elevator rankings and HotCar pages updated soon.</p>

  </div> -->

<div class="jumbotron dcmm-page-header">
  <div class="container">

    <h1>DC Metro Metrics</h1>

    <h3>Tracking escalator outages, elevator breakdowns, and 
    <a href="https://twitter.com/idiot3qu3/statuses/493882919341940736" target="_blank">#wmata</a> 
    <a href="https://twitter.com/be_rettDC/statuses/361835301057998848" target="_blank">#hotcar</a>'s since 2013.</h3>

    <br><br>

    <a ui-sref="outages.escalators" class="btn btn-primary btn-lg" role="button">{{ escalatorOutages.length}} Escalator Outages</a>

    <a ui-sref="outages.elevators" class="btn btn-warning btn-lg" role="button">{{ elevatorOutages.length}} Elevator Outages</a>
    
  </div>
</div>

<div class="container">

  <!-- Table of recent outages -->
  <h4>Recent Updates</h4>

  <table class="table table-bordered table-condensed table-striped">
    <thead>
      <tr>
        <th class="col-sm-2">Unit</th>
        <th class="col-sm-5">Description</th>
        <th class="col-sm-2">Status</th>
        <th class="col-sm-1">Type</th>
        <th class="col-sm-2">When</th>
      </tr>
    </thead>

    <tr ng-repeat="status in recentUpdates" ng-controller="StatusentryCtrl">
      <td>
        <a ui-sref="unit({unitId: unit.unit_id})">{{ status.unit_id | unitIdToHuman }}</a> 
      </td>

      <td>

        <a ui-sref="stations.detail({station: directory.getStationShortName(unit)})">
        {{ directory.getStationName(directory.unitFromStatus(status)) }}
        <lineColors lines="{{directory.getStationLinesForStatus(status).join()}}"></lineColors>
        </a>
        <br>
        {{ directory.unitDescription(unit) }}

      </td>
<!--        <td><a ng-href="{{ getStationUrl( unitFromStatus(s) ) }}">
       {{ getStationName( unitFromStatus(s) ) }}
       </a></td> -->
<!--       <td><pre>{{ getStationUrl( unitFromStatus(s) ) }}</pre></td> -->
      <td>{{ status.symptom_description | capFirst }}</td>
      <td>{{ status.update_type }}</td>
      <td>{{ statusTableUtils.getTimeSince(status) | duration }} ago</td>
    </tr>
  </table>

</div>