<div class="jumbotron dcmm-page-header">
  <div class="container">
      <h1>{{ stationData.stations[0].long_name }} <lineColors lines="{{stationData.stations[0].all_lines.join()}}"></h1>
  </div>
</div>

<div class="container">

  <div class = "col-md-2 visible-md-block visible-lg-block" >

      <ul class="nav nav-pills nav-stacked dcmm-sidenav" affix offset-top="200">
        <li ng-class="{active : showEscalators()}"><a ui-sref="stations.detail.escalators">Escalators</a></li>
        <li ng-class="{active : showElevators()}"><a ui-sref="stations.detail.elevators">Elevators</a></li>
        <li ng-class="{active : showRecentUpdates()}"><a ui-sref="stations.detail.recent">Recent Updates</a></li>
      </ul>
  </div>


  <div class = "col-xs-12 col-md-10">

    <div class = "col-xs-12 hidden-md hidden-lg" >
      <ul class="nav nav-pills dcmm-topnav" affix offset-top="160">
        <li ng-class="{active : showEscalators()}"><a ui-sref="stations.detail.escalators">Escalators</a></li>
        <li ng-class="{active : showElevators()}"><a ui-sref="stations.detail.elevators">Elevators</a></li>
        <li ng-class="{active : showRecentUpdates()}"><a ui-sref="stations.detail.recent">Recent Updates</a></li>
      </ul>
    </div>

    <div class = "col-xs-12" ng-show="showEscalators()">

      <h2>Escalators</h2>

      <table class = "table table-bordered table-condensed table-striped">
        <tr>
          <th>Unit</th>
          <th ng-show = "escalators_have_station_descriptions">Entrance</th>
          <th>Description</th>
          <th>Status</th>
        </tr>
        <tr ng-repeat = "unit in stationData.escalators" class = "{{statusTableUtils.getRowClass(unit.key_statuses.lastStatus)}}">
          <td><a ui-sref="unit({unitId: unit.unit_id})">{{ unit.unit_id.substring(0,6) }}</a></td>
          <td ng-show = "escalators_have_station_descriptions">{{ unit.station_desc }} </td>
          <td>{{ unit.esc_desc }} </td>
          <td>{{ unit.key_statuses.lastStatus.symptom_description  | capFirst }}</td>
        </tr>
      </table>
    </div>

    <div class = "col-xs-12" ng-show="showElevators()">

      <h2>Elevators</h2>

      <table class = "table table-bordered table-condensed table-striped">
        <tr>
          <th>Unit</th>
          <th ng-show = "elevators_have_station_descriptions">Entrance</th>
          <th>Description</th>
          <th>Status</th>
        </tr>
        <tr ng-repeat = "unit in stationData.elevators" class = "{{statusTableUtils.getRowClass(unit.key_statuses.lastStatus)}}">
          <td><a ui-sref="unit({unitId: unit.unit_id})">{{ unit.unit_id.substring(0,6) }}</a></td>
          <td ng-show = "elevators_have_station_descriptions">{{ unit.station_desc }}</td>
          <td>{{ unit.esc_desc }}</td>
          <td>{{ unit.key_statuses.lastStatus.symptom_description | capFirst }}</td>
        </tr>
      </table>
    </div>

    <div class="col-xs-12" ng-show="showRecentUpdates()">
    
      <h2>Recent Updates</h2>

      <table class="table table-bordered table-condensed table-striped">
        <thead>
          <tr>
            <th class="col-sm-2">Unit</th>
            <th class="col-sm-5">Description</th>
            <th class="col-sm-2">Status</th>
            <th class="col-sm-1">Type</th>
            <th class="col-sm-2">When</th>
          </tr>
        </thead>

        <tbody>
          <tr ng-repeat="status in stationData.recent_statuses" ng-controller="StatusentryCtrl">

            <td>
              <a ui-sref="unit({unitId: unit.unit_id})">{{ status.unit_id | unitIdToHuman }}</a> 
            </td>

            <td>

              <a ui-sref="stations.detail({station: directory.getStationShortName(unit)})">
              {{ directory.getStationName(directory.unitFromStatus(status)) }}
              <lineColors lines="{{directory.getStationLinesForStatus(status).join()}}"></lineColors>
              </a>
              <br>
              {{ directory.unitDescription(unit) }}
            </td>

            <td>{{ status.symptom_description | capFirst }}</td>
            <td>{{ status.update_type }}</td>
            <td>{{ statusTableUtils.getTimeSince(status) | duration }} ago</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

</div>



