
<!-- Make a table of stations -->
<h1> Station Directory </h1>

<!-- <p>
<div class = "circle RD"></div>
<div class = "circle OR"></div>
<div class = "circle YL"></div>
<div class = "circle GR"></div>
<div class = "circle BL"></div>
<div class = "circle SV"></div>
<p> -->

<table class="table table-striped table-bordered table-hover">

  <tr>
    <th>Station</th>
    <th>Escalators</th>
    <th>Elevators</th>
  </tr>

  <tr ng-repeat="station in stationDirectory">
    <td><a href="#/stations/{{station.stations[0].short_name}}">{{ station.stations[0].long_name }} <lineColors lines='station.stations[0].all_lines'></lineColors>
    </a></td>
    <td>{{ station.escalators.length }}</td>
    <td>{{ station.elevators.length }}</td>
  </tr>

</table>