<div class="jumbotron dcmm-page-header">
  <div class="container">
      <h1>Station Directory</h1>
  </div>
</div>

<div class="container">
  <table class="table table-condensed table-striped table-bordered table-hover">

    <tr>
      <th>Station</th>
      <th>Escalators</th>
      <th>Elevators</th>
    </tr>

    <tr ng-repeat="station in stationDirectory">
      <td><a ui-sref="stations.detail({station: station.stations[0].short_name })">{{ station.stations[0].long_name }} <lineColors lines='{{station.stations[0].all_lines.join()}}'></lineColors>
      </a></td>
      <td>{{ station.escalators.length }}</td>
      <td>{{ station.elevators.length }}</td>
    </tr>

  </table>

</div>