<div class="jumbotron dcmm-page-header">
  <div class="container">
      <h1>{{ stationData.stations[0].long_name }} <lineColors lines="{{stationData.stations[0].all_lines.join()}}"></h1>
  </div>
</div>

<div class="container">

  <div class = "col-md-2 visible-md-block visible-lg-block" >

      <ul class="nav nav-pills nav-stacked dcmm-sidenav" affix offset-top="250">
        <li ng-class="{active : showEscalators()}"><a ui-sref="stations.detail.escalators">Escalators</a></li>
        <li ng-class="{active : showElevators()}"><a ui-sref="stations.detail.elevators">Elevators</a></li>
      </ul>
  </div>


  <div class = "col-xs-12 col-md-10">

    <div class = "col-xs-12 hidden-md hidden-lg" >

      <ul class="nav nav-pills">
        <li ng-class="{active : showEscalators()}"><a ui-sref="stations.detail.escalators">Escalators</a></li>
        <li ng-class="{active : showElevators()}"><a ui-sref="stations.detail.elevators">Elevators</a></li>
      </ul>
    </div>



    <div class = "col-xs-12 dcmm-fadeIn" ng-show="showEscalators()">

      <h2>Escalators</h2>

      <table class = "table table-bordered table-condensed table-striped">
        <tr>
          <th>Unit</th>
          <th ng-show = "escalators_have_station_descriptions">Entrance</th>
          <th>Description</th>
          <th>Status</th>
        </tr>
        <tr ng-repeat = "unit in stationData.escalators" class = "{{statusTableUtils.getRowClass(unit.key_statuses.lastStatus)}}">
          <td><a ui-sref="unit.main({unitId: unit.unit_id})">{{ unit.unit_id.substring(0,6) }}</a></td>
          <td ng-show = "escalators_have_station_descriptions">{{ unit.station_desc }} </td>
          <td>{{ unit.esc_desc }} </td>
          <td>{{ unit.key_statuses.lastStatus.symptom_description}}</td>
        </tr>
      </table>
    </div>

    <div class = "col-xs-12 dcmm-fadeIn" ng-show="showElevators()">

      <h2>Elevators</h2>

      <table class = "table table-bordered table-condensed table-striped">
        <tr>
          <th>Unit</th>
          <th ng-show = "elevators_have_station_descriptions">Entrance</th>
          <th>Description</th>
          <th>Status</th>
        </tr>
        <tr ng-repeat = "unit in stationData.elevators" class = "{{statusTableUtils.getRowClass(unit.key_statuses.lastStatus)}}">
          <td><a ui-sref="unit.main({unitId: unit.unit_id})">{{ unit.unit_id.substring(0,6) }}</a></td>
          <td ng-show = "elevators_have_station_descriptions">{{ unit.station_desc }}</td>
          <td>{{ unit.esc_desc }}</td>
          <td>{{ unit.key_statuses.lastStatus.symptom_description | capFirst }}</td>
        </tr>
      </table>
    </div>

  </div>

</div>



