<div class="jumbotron dcmm-page-header">
  <div class="container">

      <h1>{{ unitId | unitIdToHuman }}</h1>

      <p>
      <a ui-sref="stations.detail({station: stationData.short_name})">{{ stationData.long_name }}
      <lineColors lines="{{stationData.all_lines.join(',')}}"></lineColors>
      </a>
      </p>

      <p>{{ unitData.unit.station_desc }}</p>

      <p>{{ unitData.unit.esc_desc }}</p>

  </div>


</div>

<div class="container">

  <div class="col-xs-12">
    <ol class="breadcrumb" ng-switch = "unitData.unit.unit_type">

      <li><a ui-sref="stations.detail({station: stationData.short_name})">{{stationData.long_name}} <lineColors lines="{{stationData.all_lines.join(',')}}"></lineColors></a></li>
      <li ng-switch-when="ESCALATOR">
        <a ui-sref='stations.detail.escalators({station: stationData.short_name})'>
        Escalators</a>
      </li>
      <li ng-switch-when="ELEVATOR">
        <a ui-sref='stations.detail.elevators({station: stationData.short_name})'>
        Elevators</a>
      </li>
      <li class="active">{{ unitId.substr(0, 6) }}</li>
    </ol>
  </div>

<!--   <table class = "table table-bordered">
    <tr>
      <th>Station</th>
      <td><a href="#/stations/{{stationData.short_name}}">{{ stationData.long_name }}
      <lineColors lines="{{stationData.all_lines.join(',')}}"></lineColors>
      </a></td>
    </tr>
    <tr ng-show = "{{ unitData.unit.station_desc }}">
      <th>Entrance</th>
      <td>{{ unitData.unit.station_desc }}</td>
    </tr>
    <tr>
      <th>Description</th>
      <td>{{ unitData.unit.esc_desc }}</td>
    </tr>
  </table> -->

  <h2> Summary </h2>

  <table class = "table table-bordered table-condensed table-hover">
    <tr>
      <th># Breaks</th>
      <td> </td>
    </tr>
    <tr>
      <th># Inspections</th>
      <td></td>
    </tr>
    <tr>
      <th>Availability</th>
      <td></td>
    </tr>
  </table>

  <h3>Statuses</h3>

  <table class = "table table-bordered table-hover table-condensed table-hover">
    <thead>
    <tr>
      <th>Time</th>
      <th>Status</th>
      <th>Type</th>
      <th>Duration</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat = "status in unitData.statuses" class = "{{statusTableUtils.getRowClass(status)}}">
      <td> {{ status.time | date:'short' }} </td>
      <td> {{ status.symptom_description | capFirst }} </td>
      <td> {{ status.update_type }} </td>
      <td> {{ statusTableUtils.getDuration(status) | duration }} </td>
    </tr>
    </tbody>
  </table>
</div>
