<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>DC Metro Metrics</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Sharing public and crowdsourced data related to the Washington DC Metrorail system, including data on escalator outages, escalator historical performance, and #wmata #hotcar&#039;s.">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet">
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
        background: url('http://www.dcmetrometrics.com/static/wmata_ceiling_banner_web.jpg') no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
      }
      .footer {
        padding: 10px;
        background-color: white;
        border-radius: 6px 6px 6px 6px;
      }

      .navbar .nav > li > .dropdown-menu:after {
        border: none;
      }
    </style>

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="../assets/js/html5shiv.js"></script>
    <![endif]-->

    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="../assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="../assets/ico/apple-touch-icon-114-precomposed.png">
      <link rel="apple-touch-icon-precomposed" sizes="72x72" href="../assets/ico/apple-touch-icon-72-precomposed.png">
                    <link rel="apple-touch-icon-precomposed" href="../assets/ico/apple-touch-icon-57-precomposed.png">
                                   <link rel="shortcut icon" href="../assets/ico/favicon.png">
  </head>

  <body>

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="#">DC Metro Metric</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li><a href="#">Home</a></li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Escalators <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="#">Directory</a></li>
                  <li><a href="#">Outages</a></li>
                  <li><a href="#">Rankings</a></li>
                </ul>
              </li>
              <li><a href="#">Stations</a></li>
              <li><a href="#">Hot Cars</a></li>
              <li><a href="#">Data</a></li>
              <li><a href="#">Contact</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container">

      <!-- Main hero unit for a primary marketing message or call to action -->
      <div class="hero-unit">
        <h1 class="text-center">DC Metro Metrics</h1>
        <p>DC Metro Metrics is a project dedicated to collecting and sharing publicly available data related to the DC Metrorail system.<p>

        <p>This website compiles data which is not available anywhere else, including:</p>
        <ul>
          <li>A <a href="/escalators/directory">directory</a> of all 588 escalators in the DC Metrorail system</li>
          <li>Performance history for each escalator in the system.</li>
          <li>Escalator reliability <a href="/escalators/rankings">rankings</a></li>
          <li>Escalator availability by <a href="/stations">station</a></li>
          <li>Crowdsourced Twitter <a href="/hotcars">reports</a> of #wmata #hotcar's.</li>
        </ul>

        <p>This website and its features are a work in progress.
        If you have any questions or comments, or would like to get involved,
        please contact me at <a href="mailto:info@dcmetrometrics.com" target="_blank">info@dcmetrometrics.com.</a></p>

        <p>Thanks for visiting!</p>
      </div>

      <footer class="footer">
        <p class="text-center">&copy; Lee M. Mendelowitz 2013</p>
        <p class="text-center"><a href="https://twitter.com/MetroEscalators" class="twitter-follow-button" data-show-count="false">Follow @MetroEscalators</a> <a href="https://twitter.com/MetroHotCars" class="twitter-follow-button" data-show-count="false">Follow @MetroHotCars</a></p>
      </footer>

    </div> <!-- /container -->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
    <script src="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>

  </body>
</html>
