<!DOCTYPE html>


<html>

<head>
    <link rel="stylesheet" type="text/css" href="/static/statusListing.css">
    <title>DC Metro Metrics: Escalator Rankings</title>
    <meta name="description" content="Performance rankings of escalators in the WMATA Metrorail system.">

    <script src="https://platform.twitter.com/widgets.js"></script>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-42172563-1', 'dcmetrometrics.com');
      ga('send', 'pageview');
    </script>

</head>

<!-- BEGIN BODY -->

<body>

<div id="maincontainer">

<div id="header">
<a href="/">DC Metro Metrics</a>
</div>

<div id="leftcolumn">
<div class="nav_level1">
<p><a href="/">Home</a></p>

<p><a href="/escalators/outages">Escalators</a></p>

<div class="nav_level2">
<p><a href="/escalators/directory">Directory</a></p>
<p><a href="/escalators/outages">Outages</a></p>
<p><a href="/escalators/rankings">Rankings</a></p>
</div>

<p><a href="/stations">Stations</a></p>
<p><a href="/hotcars">HotCars</a></p>
<p><a href="/data">Data</a></p>
<p><a href="mailto:info@dcmetrometrics.com" target="_blank">Contact</a></p>

<p>
<a href="https://twitter.com/MetroEscalators" class="twitter-follow-button" data-show-count="false">Follow @MetroEscalators</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
</p>

<p>
<a href="https://twitter.com/MetroHotCars" class="twitter-follow-button" data-show-count="false">Follow @MetroHotCars</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
</p>

</div>
</div>

<div id="contentwrapper">


<a id="top"></a>
<h2>Rankings</h2>

<p>Explore which escalators are the most broken, and which stations have the
best and worst performing escalators. Also explore historical daily counts
of escalator breaks and inspections.</p>

<p>
<a href="#escalatorRankings">Escalator Rankings</a>&nbsp;
<a href="#stationRankings">Station Rankings</a>&nbsp;
<a href="#trends">Trends</a>&nbsp;
</p>

<!-- ESCALATOR RANKINGS -->
<a id="escalatorRankings"></a>
<h3>Escalator Rankings (<a href="#top">top</a>)</h3>
<p id="sort_instructions"></p>
<p><a href="/glossary" onclick="javascript:void window.open('/glossary','','width=600,height=600,toolbar=0,menubar=0,location=0,status=0,scrollbars=1,resizable=1,left=0,top=0');return false;">Glossary</a></p>

<!-- Rankings table for those without Javascript -->
<div id='escalatorRankingsTableManual'>
</div>

<!-- Rankings table for those with Javascript -->
<div style="font: 8px;">
<a id="escRankings_d1" href="#">1d</a>&nbsp;
<a id="escRankings_d3" href="#">3d</a>&nbsp;
<a id="escRankings_d7" href="#">7d</a>&nbsp;
<a id="escRankings_d14" href="#">14d</a>&nbsp;
<a id="escRankings_d28" href="#">28d</a>&nbsp;
<a id="escRankings_AllTime" href="#">All Time</a><br><br>
</div>
<div style="font-weight:bold;" id="escRankings_header"></div>
<div id='escalatorRankingsTableChartDiv'></div>

<!-- STATION RANKINGS -->
<a id="stationRankings"></a>
<h3>Station Rankings (<a href="#top">top</a>)</h3>
<a href="/glossary" onclick="javascript:void window.open('/glossary','','width=600,height=600,toolbar=0,menubar=0,location=0,status=0,scrollbars=1,resizable=1,left=0,top=0');return false;">Glossary</a>
<div id="stationRankingsTableChartDiv"></div>

<a id="trends"></a>
<h3>Trends (<a href="#top">top</a>)</h3>
<p>Number of breaks (red) and inspections (blue) per day.</p>
<div id='trendsPlotDiv' style="width:700px; height:300px;"></div>
<p>Note: "Data outages" refer to times when escalator data was not 
collected due to technical difficulties, resulting in low counts.</p>


<div class=updateTime>
<p>Page Last Updated: 07/16/13 06:36 PM</p>
</div>

<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript" src="/js/escalatorRankings.js"></script>

</div>

<div id="footer">
<p>&copy; 2013 by Lee M. Mendelowitz</p>
</div>

</div> <!-- END container -->
</body>

</html>

